[submodule "controller"]
	path = controller
	url = https://gitlab.eurecom.fr/flexran/flexran-rtc.git
[submodule "agent-r"]
	path = agent-r
	url = https://gitlab.eurecom.fr/oai/openairinterface5g.git
	branch = feature-68-enb-agent
[submodule "ll-mec"]
	path = ll-mec
	url = https://gitlab.eurecom.fr/mosaic-5g/ll-mec.git
[submodule "jox"]
	path = jox
	url = https://gitlab.eurecom.fr/mosaic-5g/jox.git
[submodule "agent-c"]
	path = agent-c
	url = https://gitlab.eurecom.fr/oai/openair-cn.git
[submodule "store"]
	path = store
	url = https://gitlab.eurecom.fr/mosaic-5g/store.git
