[submodule "flexran"]
	path = flexran
	url = https://github.com/simula/mosaic5g-flexran-rtc.git
	branch = develop 
[submodule "ll-mec"]
	path = ll-mec
	url = https://github.com/simula/mosaic5g-ll-mec.git
	branch = develop
[submodule "store"]
	path = store
	url = https://github.com/simula/mosaic5g-store.git
[submodule "jox"]
	path = jox
	url = https://github.com/simula/mosaic5g-jox.git
	branch = develop
[submodule "oai-ran"]
	path = oai-ran
	url = https://bitbucket.org/dreibh/mosaic5g-openairinterface5g.git
	branch = develop
[submodule "oai-cn"]
	path = oai-cn
	url = https://github.com/simula/mosaic5g-openair-cn.git
	branch = openair-cn-llmec
[submodule "ll-mec-ovs"]
	path = ovs-gtp
	url = https://github.com/simula/mosaic5g-ll-mec-ovs.git
[submodule "oai-ue"]
	path = oai-ue
	url = https://bitbucket.org/dreibh/mosaic5g-openairinterface5g.git
	branch = develop
[submodule "kube5g"]
	path = kube5g
	url = https://github.com/simula/mosaic5g-kube5g.git
	branch = develop
